* {
  box-sizing: border-box;
}

:root {
  --primary: #3D5874;
  --secondary: #ADCBCF;
  --tertiary: #3C3A46;
  --dark: #222125;
  --light: #eaeaea;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--tertiary);
  box-shadow:0 5px 25px #ADCBCF;
}

header h1 {
  color: var(--tertiary);
  background-color: var(--secondary);
  padding: 5px 1% 5px 6%;
  margin:0;
  font-size: 4vw;
  line-height:1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a{
  text-decoration: none;
  padding:10px 10px;
  color: var(--secondary);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 1.4rem;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--primary)
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 20px;
  margin-bottom: 45px;

}


.hero-banner {
  background: #326091;
  background-image: url("../images/02-hero-bg.jpg"), linear-gradient(180deg, var(--secondary) 0%,var(--primary) 100%);
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  min-height: 30vh;
  color: var(--light);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.hero-banner div {
  flex: 0 0 90%;
}

.hero-banner h2 {
  background-color: var(--secondary);
  color:var(--tertiary);
  margin: 0;
  padding: 5px 10px;
  font-size: 2.3rem;
  line-height: 1.2;
  display: inline;
}


.page-wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.page-section {
  margin: 25px 0;
  padding: 10px 0;
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  align-items: stretch;
  justify-content: center;

}



.page-section > h2 {
  flex: 0 0 20%;
  text-align: right;
  padding-right: 15px;
  border-right: 4px solid var(--primary);
  font-size: 4vw;
  line-height: 1.1;
}

.page-section > div {
  flex: 0 0 77%;
}

.page-setion p{
  margin-bottom: 20px;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  border: 5px solid var(--secondary);
  background-color: var(--primary);
  color: var(--tertiary);
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 1em);
  display:flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}


.flex-item:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flex-item:hover {
  background-color: #3C3A46;
}

.flex-item div {
  background-color: var(--secondary);

}

.flex-item h3 {
  font-size: 1.6rem;
}


.contact address{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-be;
  align-items: center;
  height: 100%;
}

.contact address a{
  color: var(--tertiary);
  padding: 5px;
  text-decoration: none;
  font-size: 1.3rem;
  margin-right: 30px;
  background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  display: inline-block;
 
}

.contact address a:hover {
  background-size: 100% 88%;
  color: var(--secondary);
}


.run {
  background-image: url(../images/02-run-buddy.jpg);
}

.surf {
  background-image: url(../images/02-portfolio-1.jpg);
}

.led {
  background-image: url(../images/02-portfolio-2.jpg);
}

.cal {
  background-image: url(../images/02-portfolio-3.jpg);
}

.pastel {
  background-image: url(../images/02-portfolio-4.jpg);
}


@media screen and (max-width:1000px) {
  header {
    padding: 0 0 20px 0;
    justify-content: center;
    text-align: center;
  }

    header h1{
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;

    }
    header nav{
      justify-content: center;
      padding-top: 10px;
    }
    header nav a{
      font-size: 1rem;
    }
    .page-section > h2, .page-section > div {
      flex: 0 0 100%;
    }
    .page-section > h2{
      border-right: None;
      border-bottom: 4px solid var(--primary);
      margin-bottom: 20px;
      padding-bottom: 10px;
      text-align: left;
      font-size: 7vn;
    }
}

@media screen and (max-width:768px) {
  .flex-item,
  .flex-item:first-child{
    flex-basis: 100%;
  }

  .fliex-item:first-child{
    min-height: 150px;
  }

  .hero-banner{
    justify-content: center;
    text-align: center;
  }

  .contact address{
    flex-direction: column;
    align-items: flex-start;
  }

  .contact address a{
    font-size: 1rem;
  }


}

